{% extends "base_compact.html" %}
{% block content %}

    <h3>利用者パスワード再設定</h3>
    <br>
    <!-- アイコン -->
    <span class="material-icons icon-large">key</span>
    <br>

    <form action="/lib_change_password/" method="POST">
        <table>
            <tr>
                <td>利用者ID</td>
                <td><input  name="request_userID"></input></td>
            </tr>
            <tr>
                <td>新パスワード</td>
                <td><input  name="request_new_password" type="password"></input></td>
            </tr>
        </table>
        <br>
        <button type="submit" class="btn btn-outline-primary btn-sm">変更</button>
    </form>

    <br>
    {% if (not is_exist) and is_done%}
        <p class="text-danger">指定された利用者は存在しません</p>
    {% elif is_done %}
        パスワードを再設定しました
    {% endif %}
    
    
    <a href="/librarian/">戻る</a>

{% endblock %}