{% extends "base_compact.html" %}
{% block content %}


<h2>LogIn</h2>
<br>
<!-- アイコン -->
<span class="material-icons icon-large">key</span>
<span class="material-icons icon-large">lock</span>

<p class="text-danger">{{error_message}}</p>

<!-- ログインするフォーム -->
<form action="/login" method="POST">
    <table>
        <tr>
            <td>Username: &emsp;</td>
            <td><input type="text" name="userid"></input></td>
        </tr>
        <tr>
            <td>Password: &emsp;</td>
            <td><input type="password" name="password"></input></td>
        </tr>
    </table>
    <br>
    <button type="submit" class="btn btn-outline-dark btn-sm">LogIn</button>
</form>

<br>
hint: user000001:abc1<br>
hint: lib0000002:abc2


{% endblock %}